# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2024 Anders <anders-code@users.noreply.github.com>

# editor backups
*~
*.swp

# ignore hidden files/dirs (.project, .settings, etc.)
# except don't ignore .gitmodules/.gitignore etc.
.*
!.git*

# waveforms
*.vcd

# vivado stuff
*.log
*.jou
*.str
xsim.dir/
project*/

# cmake outputs
/build/
a.out
